@charset "utf-8";

@font-face {
    font-family: NovaRound;
    src: url(../Fonts/NovaRound-Regular.ttf);
}

html {
    scroll-behavior: smooth; 
}

body {
    width: 100%;
    margin: 0;
    background-image: url(../IMG/_MG_5111.jpg);
    background-size: 100% ;
    background-position: center top;
    background-repeat: no-repeat;
    scroll-behavior: smooth;  
    font-family: NovaRound;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    float: left;
}

#WebTitle {
    width: 30%;
    margin-top: 0%;
    margin-left: 35%;
    float: left;
}

#WebTitle h1 {
    width: 100%;
    margin: 0%;
    margin-top: 1%;
    text-align: center;
    color: rgb(210, 2, 2);
    font-size: 4rem;
    float: left;
}

#searchLogo {
    width: 5%;
    margin-left: 15%;
    margin-right: 15%;
    float: left;
    transition: all 0.2s;
}

#searchLogo:hover {
    transform: translate(0px, -7px);
}

#searchLogo img {
    width: 50%;
    margin-top: 35%;
    float: left;
}

#SearchBlock {
    display: none; /* Скрываем блок изначально */
    width: 20%;
    height: 400px;
    margin: 8% 40%;
    background: rgb(69,69,69);
    background: linear-gradient(180deg, rgba(69,69,69,0.9220938375350141) 70%, rgb(116, 116, 116) 100%);
    position: fixed;
    z-index: 1000;
    border-radius: 3%;
    box-shadow: 0px 4px 6px 6px rgba(0, 0, 0, 0.2);
}

#SearchBlock img {
    width: 10%;
    float: left;
    margin: 6% 3%;
}

#SearchBlock input {
    width: 70%;
    margin: 4% 2%;
    margin-bottom: 9%;
    padding: 3% 2%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);

} 

#SearchBlock a {
    display: block;
    margin-bottom: 6%;
    font-size: 150%;
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s all;
}

#SearchBlock a:hover {
    text-shadow: 0px -2px 12px rgba(255, 255, 255, 0.77);
    transition: 0.3s ease-in-out;
}

#SearchBlock a:first-child{
    font-size: 200%;

}
#SearchBlock a:nth-child(3){
    font-size: 250%;
}

#SearchBlock a:nth-child(4){
    font-size: 250%;
}

#SearchBlock a:nth-child(5){
    font-size: 100%;
}

#SearchBlock a:nth-child(6){
    font-size: 100%;
}

#SearchBlock a:nth-child(7){
    font-size: 100%;
}

#firstLinkMenu {
    font-size: 200%;
}

#SearchBlock a{
    text-align: center;
    text-decoration: none;
    
}

#content {
    width: 100%;
    float: left;
}

#HoofdInfo {
    width: 60%;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
}

#HoofdInfo p:nth-child(1) {
    width: 100%;
    margin-bottom: 0%;
    font-size: 500%;
    text-align: center;
    float: left;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);   
    
}

#HoofdInfo p:nth-child(2) {
    width: 100%;
    margin-top: 2%;
    text-align: center;
    float: left;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

#KnopOntdek {
    width: 10%;
    float: left;
    margin-top: 2%;
    margin-left: 45%;
}

#KnopOntdek button:hover {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

#KnopOntdek button {
    width: 100%;
    float: left;
    padding: 8%;
    border-radius: 4rem;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 200px;
    font-family: NovaRound;
    transition: all 0.3s;
}

#whiteBlock {
    width: 100%;
    float: left;
    height: 25px;
    background-color: white;
    margin-top: 90px;
}

#KnopTop {
    width: 6%;
    margin-top: 32%;
    margin-left: 47%;
    position: fixed;
    float: left;
}

button.Round {
    width: 92px;
    color: aliceblue;
    font-size: 140%;
    justify-content: center;
    border-radius: 50%;
    height: 92px;
    border: none;
    font-family: NovaRound;
    background-image: url(../IMG/MenuIMG.png);
    background-size: 280%;
    background-position: 50%;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.49) inset;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.49) inset;
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.49) inset;
    transition: all 0.3s;

}

button.Round:hover {
    transform: translate(0px, -10px);
}

#middleFotos {
    width: 96%;
    float: left;
    margin-bottom: 1.7%;
    margin-left: 4%;
}

.middleFoto {
    width: 50%;
    float: left;
    margin: 0% 3%;
    transition: all 0.3s;
}

.middleFoto:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.middleFoto img {
    width: 100%;
    float: left;
    height: 500px;

}

.tweeMiddleFotos {
    width: 20%;
    float: left;
    transition: all 0.5s;
}
.tweeMiddleFotos:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.tweeMiddleFotos img {
    width: 100%;
    float: left;
    height: 500px;
}

.fotoTekst {
    width: 60%;
    float: left;
    background-color: black;
}

.fotoTekst img {
    width: 100%;
    height: 600px;
    float: left;
}

.tekstFoto {
    width: 40%;
    height: 600px;
    float: left;
    text-align: center;
    background-color: blanchedalmond;
    position: relative;
}

.tekstFoto p {
    margin: 4% 10%;
    line-height: 2;
}

.tekstFoto img {
    width: 10%;
    margin: 10% -3%;
    position: absolute; 
    bottom: 0;
}

footer {
    width: 100%;
    float: left;
}

hr {
    margin-top: 0;
    border-top: 3px solid black;
}

#FooterBlock {
    width: 100%;
    float: left;
    margin-bottom: 5%;
}

.FooterBlocks {
    width: 25%;
    margin: 2% 4%;
    float: left;
}

#FooterTekst {
    width: 10%;
    float: left;
    margin-left: 45%;
    text-align: center;
    font-size: 60%
}




